{% extends 'uploads.html' %}


{% block content %}
      <br><br><br><table id="table" style="width:80%" >

        {% for f in mylist  %}

        <tr><td style="padding: 15px"><a href="{{ url_for('uploaded_file', filename=f) }}" onclick="window.open(this.href, 'windowName', 'width=1000, height=700, left=24, top=24, scrollbars, resizable'); return false;">{{ f }}</a></td><td style="padding: 15px"><img src="{{ url_for('uploaded_file', filename=f) }}" width="200" height="100"></td><td style="padding: 15px"><form action="{{ url_for('deletefile',filename=f) }}"><input type="submit" value="Remove"></form>

                </td>
                <td style="padding: 15px"><form action="{{ url_for('property',filename=f) }}"><input type="submit" value="Get Properties" id="properties"></form></td>
        {% endfor %}</tr></table>
                {% endblock %}
